.Top{
    border: 1px solid burlywood;
    text-align: center;
    background-color: bisque;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
}

.Basic{
    border: 1px solid burlywood;
    text-align: left;
    background-color: bisque;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
}
.Recent{
    border: 1px solid burlywood;
    text-align: left;
    background-color: bisque;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;    padding: 5px;
}
.More{
    border: 1px solid burlywood;
    text-align: left;
    background-color: bisque;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;

}
