.Top{
    border: 1px solid burlywood;
    text-align: center;
    background-color: bisque;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.Basic{
    border: 1px solid burlywood;
    text-align: center;
    background-color: bisque;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.Recent{
    border: 1px solid burlywood;
    text-align: center;
    background-color: bisque;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.More{
    border: 1px solid burlywood;
    text-align: center;
    background-color: bisque;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
